@import '../globals';

.timeline-container {
  width: 90%
}

.react-calendar-timeline {
  .rct-sidebar .rct-sidebar-header {
    background: $md-secondary-color;
  }

  .rct-header .rct-label-group {
    background: $md-secondary-color;
  }

  .rct-scroll {
    overflow: hidden;
  }

  .rct-items .rct-item {
    overflow: visible;

    .rct-item-overflow {
      overflow: visible;
    }
  }

  .rct-item-content {
    
    width: 100%;

    .timeline-item:hover {
      background-color: rgba(256, 256, 256, 0.4);
    }
  }
}

.project-type .md-list-item [type=project] {
  background: url(/images/project.png) no-repeat 7px center;

  .md-tile-content {
    padding-left: 20px;
  }
}

.project-type .md-list-item [type=organization] {
  background: url(/images/organization.png) no-repeat 7px center;

  .md-tile-content {
    padding-left: 20px;
  }
}

@media screen and (max-width: 560px) {
  .react-calendar-timeline .rct-scroll {
    position: relative;
    z-index: 14;
  }
}
